* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

body {
  background-color: #FF99C8;
  color: #FCF6BD;
  min-height: 100vh;
  max-height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
  background-color: #EED5C2;
  height: 100px;
  width: 100%;
  padding: 20px;
}

.nombre {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-size: 40pt;
  font-style: normal;
  color: #FF1053;
  text-align: center;
}
